[solmanager]
# Security
token = DEFAULT_SOLMANAGERTOKEN


[solserver]
# Connection
tcpport = 8081
host = 0.0.0.0 #listen on all interfaces 

# Security
token = DEFAULT_SOLSERVERTOKEN
certfile = solserver.cert
privatekey = solserver.ppk

# Files
crashlogfile = solserver.crashlog
backupfile = solserver.backup
