[config]
# connection
tcpport       = 8081
host          = 0.0.0.0

# security
token         = DEFAULT_SOLSERVERTOKEN
certfile      = solserver.cert
privatekey    = solserver.ppk

# files
crashlogfile  = solserver.crashlog
backupfile    = solserver.backup

# influxdb
influxdb_host = localhost
influxdb_port = 8086
influxdb_database = realms
